body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
}

/*Header*/
.header{
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgb(234, 234, 234);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.comp{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.complogo{
  width: 25px;
}
.compname{
  font-size: 20px;
  font-weight: 600;
  margin-left: 12px;
}
.links{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link{
  font-size: 12px;
  color: rgb(65, 65, 65);
  font-weight: 500;
  margin-left: 12px;
  margin-right: 12px;
  cursor: pointer;
}
.link:hover{
  color: black;

}
.buttons{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginbutton{
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  font-weight: 600;
}
.registerbutton{
background-color: rgb(0, 64, 255);
padding-left: 30px;
padding-right: 20px;
padding-bottom: 8px;
padding-top: 8px;
border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registerbutton:hover{
  background-color: rgb(0, 37, 148);
  transition: 0.3s;
}
.arrow-down-blue{
  width: 20px;
  margin-left: 8px;
}
.menuicon{
  display: none;
}
.menuiconimg{
  display: none;
}
.menudiv{
  display: none;
}


/*Page 1*/
.page1{
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}
.page1head{
  font-size: 56px;
  font-weight: 700;
  color: black;
}
.blue{
  color: rgb(0, 64, 255);
}
.page1subhead{
  color: rgb(63, 63, 63);
  font-weight: 500;
  font-size: 28px;
}
.buttonspage1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}
.registerbuttonpage1{
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(0, 64, 255);
  color: white;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.regbuttonpage1{
  width: 24px;
  margin-left: 10px;
}
.checkbillsbutton{
  color: rgb(0, 64, 255);
  font-size: 16px;
  font-weight: 600;
  margin-left: 20px;
}


/*Page2*/
.page2{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.banner{
  width: 60%;
  height: 120px;
  border: 1px solid grey;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-20px);
  overflow: hidden;
  
}
.bannerimg{
  height: 100%;
  width: 180px;
  /* aspect-ratio: 1.5/1; */
  background-image: url('/bill.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bannercontent{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}
.bannerhead{
  font-size: 20px;
  font-weight: 600;
}
.bannerdesc{
  font-size: 12px;
  color: grey;
  margin-top: 8px;
}
.page3{
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page3tag{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 40px;
  border: 2px solid rgb(0, 64, 255);
  background-color: rgba(0, 64, 255, 0.182);
  color: rgb(0, 64, 255);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-small{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(0, 64, 255);
  margin-right: 10px;
}
.page3head{
  font-size: 48px;
  color: black;
  font-weight: 600;
  margin-top: 20px;
}
.featurediv{
  width: 100%;
  height: auto;
  margin-top: 50px;
}

/*Feature card*/
.feature{
  width: 350px;
  min-height: 300px;
  height: auto;
  padding-bottom: 30px;
  background-color: rgb(188, 185, 0);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
.feature-blue{
  background-color: rgb(0, 64, 255);
  color: white;
}
.feature-orange{
  background-color: orange;
}
.feature-green{
  background-color: greenyellow;
}
.anim{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lottieanim{
  margin-left: 0px;
}
.featurehead{
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  transform: translateY(-10px);
}
.featuredesc{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.875);
  font-weight:500;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  text-align: center;
  transform: translateY(-10px);
}



@media (max-width: 1000px) {
  .header{
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgb(234, 234, 234);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .comp{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .complogo{
    width: 25px;
    margin-left: 25px;
  }
  .compname{
    font-size: 20px;
    font-weight: 600;
    margin-left: 12px;
  }
  .links{
    width: 0%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .link{
    font-size: 12px;
    color: rgb(65, 65, 65);
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
  }
  .link:hover{
    color: black;
  
  }
  .buttons{
    width: 0%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .loginbutton{
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    font-weight: 600;
  }
  .registerbutton{
  background-color: rgb(0, 64, 255);
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .registerbutton:hover{
    background-color: rgb(0, 37, 148);
    transition: 0.3s;
  }
  .arrow-down-blue{
    width: 20px;
    margin-left: 8px;
  }
  .menuicon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
  }
  .menuiconimg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
  }
  .menudiv {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.692);
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Invisible */
    transition: opacity 0.3s ease; /* Smooth fade-in/out */
  }
  
  .menudiv.visible {
    visibility: visible;
    opacity: 1; /* Fully visible when active */
  }
  
  .menupage {
    width: 80%;
    height: 100%;
    background-color: white;
    position: absolute;
    right: -80%; /* Start off-screen */
    transition: right 0.3s ease; /* Smooth slide-in/out */
  }
  
  .menupage.visible {
    right: 0; /* Slide in */
  }
  
  .closebtn {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 20px;
    color: black;
  }

  /*Page 1*/
.page1{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}
.page1head{
  font-size: 48px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  font-weight: 700;
  color: black;
  line-height: 48px;
}
.blue{
  color: rgb(0, 64, 255);
}
.page1subhead{
  color: rgb(63, 63, 63);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 16px;
}
.buttonspage1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
}
.registerbuttonpage1{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(0, 64, 255);
  color: white;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.regbuttonpage1{
  width: 20px;
  margin-left: 10px;
}
.checkbillsbutton{
  color: rgb(0, 64, 255);
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 0;
}


/*Page2*/
.page2{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.banner{
  width: 90%;
  height: 120px;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-10px);
  overflow: hidden;
  
}
.bannerimg{
  height: 100%;
  width:35%;
  /* aspect-ratio: 1.5/1; */
  background-image: url('/bill.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bannercontent{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.bannerhead{
  font-size: 12px;
  font-weight: 600;
}
.bannerdesc{
  font-size: 8px;
  color: grey;
  margin-top: 8px;
  /* display: none; */
}

/*Page3*/
.page3{
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page3tag{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 40px;
  border: 2px solid rgb(0, 64, 255);
  background-color: rgba(0, 64, 255, 0.182);
  color: rgb(0, 64, 255);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 0.8;
}
.circle-small{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(0, 64, 255);
  margin-right: 10px;
}
.page3head{
  font-size: 36px;
  color: black;
  font-weight: 600;
  margin-top: 20px;
}
.featurediv{
  width: 100%;
  height: auto;
  margin-top: 50px;
}

/*Feature card*/
.feature{
  width: 300px;
  min-height: 280px;
  height: auto;
  padding-bottom: 30px;
  background-color: rgb(188, 185, 0);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  scale: 0.9;
}
.feature-blue{
  background-color: rgb(0, 64, 255);
  color: white;
}
.feature-orange{
  background-color: orange;
}
.feature-green{
  background-color: greenyellow;
}
.anim{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lottieanim{
  margin-left: 0px;
}
.featurehead{
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  transform: translateY(-10px);
}
.featuredesc{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.875);
  font-weight:500;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  text-align: center;
  transform: translateY(-10px);
}



    
}
